<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
    $(function () {
        $("#submit1").click(function () {
            var password = $("#pass").val();
            var confirmPassword = $("#repass").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
<title>The Store</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href='/static/styles/totalcss.css' rel='stylesheet' type='text/css'>
<style>
body{
background: url(https://subtlepatterns.com/patterns/scribble_light.png) #FFF;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    max-width: 100%;
    height: 200px;
    object-fit: contain;
}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
//$('id02').on('show.bs.modal', function(e) {
//  var id = (e.relatedTarget).data(id);
//});
/*
  $(function(){

      $('#confirm-delete').on('shown.bs.modal', function(e) {

          var button = $(e.relatedTarget);

          // this refers to Modal
          console.log(button.data('id'))
          $('input', this).val(button.data('id'));

          //$('.url', this).html('Delete URL: <strong>' + button.data('href') + '</strong>');
      });
});
*/
var id;
$(document).ready(function() {

    $('button[name = review]').click(function(){
    id = $(this).attr('id');
    $('#pid', '#100').val(id[2])
    $('#pname', '#101').text(id[0])
    $('#pdesc', '#101').text(id[1])
    $('#price').text(id[3])

    });


});
</script>


<body>
<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
  <button onclick="w3_close()" class="w3-bar-item w3-medium w3-blue">Close &times;</button>
  <a href="/change_password/{{custid}}" class="w3-bar-item w3-button w3-gray">Change Password</a>
  <a href="/accountDetails/{{custid}}" class="w3-bar-item w3-button w3-gray">View Account Details</a>
  <a href="/logout/{{custid}}" class="w3-bar-item w3-button w3-gray">Logout</a>
</div>
<!-- Page Content -->
<div class="w3-black ">

  <button class="w3-button w3-black w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>
  <h1 style="text-align:left;font-weight:bold;">
    The Store
  <span style="float:right;size:5px">{{cname}}'s Dashboard</span>
</h1>
</div>
<p> </p>


  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink" id = 'btncart' onclick="location.href = '/cart/{{custid}}'">Cart</button>
    <button class="w3-bar-item w3-button tablink" id = 'btncatalog' onclick="location.href = '/catalog/{{custid}}'">Catalog</button>
    <button class="w3-bar-item w3-button tablink" id = 'btnhistory' onclick="location.href = '/orderHistory/{{custid}}'">Order History</button>
    <button class="w3-bar-item w3-button tablink" id = 'btnreq' onclick="location.href = '/requests/{{custid}}'">Request</button>
    <button class="w3-bar-item w3-button tablink w3-blue" id = 'btnpass' onclick="openCity(event,'SignUp')">Change Password</button>

  </div>


<div id="SignUp" class="w3-container w3-border city" style="display:block">
    <h2>Change your password</h2>
    <form class="w3-container" method = 'POST' action="/change_password/{{custid}}">
    <p>
     <p>
    	<label>Enter your old password</label>
    	<input name = 'password' class="w3-input" pattern=".{8,}" id='passold' title="8 characters minimum" type="password" required>
    </p>
    <p>
    	<label>Enter your new password(8 characters minimum)</label>
    	<input name = 'new_password' class="w3-input" pattern=".{8,}" id='pass' title="8 characters minimum" type="password" required>
    </p>
    <p>
    	<label>Retype new Password</label>
    	<input name = 'repassword' class="w3-input" pattern=".{8,}" id='repass' title="8 characters minimum" type="password" required >
		<span id='message'></span>
    </p>
    <p>
     <button class="w3-btn w3-blue" formaction="/change_password/{{custid}}" id="submit1">Change password</button>
    </p>
    </form>
  </div>
</div>
<div>
{% with messages = get_flashed_messages() %}
         {% if messages %}

               {% for message in messages %}
               <h4>{{ message }}</h4>
               {% endfor %}
            </ul>
         {% endif %}
		 {% endwith %}
</div>

<script>

// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace("w3-gray", "w3-blue");
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace("w3-blue", "w3-gray");
    }
}

function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
}
function w3_close() {
    document.getElementById("rightMenu").style.display = "none";
}
function req_close(num) {
    document.getElementById("Request"+num).style.display = "none";
}
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-blue";
}

</script>
